.footer-upgraded .footer-brand-logo b{width:31px;height:31px;border-radius:2px;transform:rotate(45deg);background:#ffe552;color:#111;font-size:11px}
.footer-static-logo b{width:31px;height:31px;border-radius:2px;transform:rotate(45deg);background:#ffe552;color:#111;font-size:11px}
